# --- Fichiers de compilation CMake ---
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
install_manifest.txt

# --- Fichiers générés par JUCE / Projucer ---
Builds/
JuceLibraryCode/

# --- Fichiers temporaires ---
*~
*.swp
*.swo
*.bak

# --- Fichiers d'exécution ---
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.app
*.a

# --- Archives ---
*.zip
*.tar.gz
*.deb
*.pkg

# --- IDEs ---
.vscode/
.idea/

# --- macOS / Windows spécifiques ---
.DS_Store
Thumbs.db
