FICHIER DE CONFIGURATION DE makef.cc

Rem : Le caractere _ sera remplace par un espace.
     puis le caractere & sera remplace par _
      Les donnees sont a mettre apres le signe egal.


repertoire contenant les autres fichiers .cc  et les autres fichiers .h  
     = /home/faure/c++/musique/JUCE_fred/Template


repertoire temporaire ou il y a  liste.txt
      = /home/faure/c++/musique/JUCE_fred/Template

option affichage du traitement en cours (0 ou 1 ou 2 ou 3)
        = 0

option ecriture du code c++ des fichiers .h qui manquent
	   = 0
option ecriture du code c++ pour fenetre de commandes gui
	    = 1

option ecriture d une archive c++ .zip
	    = 0

